<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsuluxe - Главная</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Capsuluxe</h1>
            <p>Искусство стиля в каждой капсуле с Capsuluxe.</p>
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Capsuluxe</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Корзина</a></li>
            <li><a href="#">Мой профиль</a></li>
            <li><a href="#">Контактная информация/a></li>
            <li><a href="#">Доставка и оплат</а></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <main>
        <div class="container">
            <h2>Новые поступления</h2>
            <!-- Здесь будут отображаться новые поступления товаров -->
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Capsuluxe. Все права защищены.</p>
            <p>КАРТИНКА: Здесь можно добавить красивую картинку, отображающую ассортимент магазина.</p>
        </div>
    </footer>
</body>
</html>